@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&family=Maven+Pro&display=swap');

body {
	background-color: black;
	color: white;
	font-family: 'Acme', sans-serif;
}

p{
	font-family: 'Maven Pro', sans-serif;
}

.title{
	font-family: 'Dancing Script', cursive;
}

.main {
	padding: 16px;
	margin-bottom: 30px;
}

.modal{
	display: none;
	position: fixed;
	width:100%;
	height: 100%;
	background-color: #000000b3;
	z-index: 100;
	left: 0;
}

.modal-content{
	background-color: black;
	max-width: 300px;
	position: relative;
	justify-content: center;
	margin: 0px auto;
	top: 25%;
	z-index: 98;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid gray;
}

.modal-content input[type=text] {
	padding: 6px;
	border: none;
	margin-top: 10px;
	margin-right: 16px;
	font-size: 17px;
	border-radius: 5px;
  }

.modal button {
	border: none;
	color: white;
	background-color: #008CBA;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
  }

.close-btn{
	font-size: 15px;
	border: none;
	outline: none;
	background-color: rgb(221, 0, 0);
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px 10px 5px 5px;
	float: right;
}

.bottom-navbar{
	display: none;
}

/* Header/logo Title */
.header {
	padding: 80px;
	text-align: center;
	color: white;
	border-radius: 10px;
	background-image: url('https://images.unsplash.com/photo-1598130136089-4f46b70d72fe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	text-shadow: 2px 2px black;
  }
  
  #headertwo {
	text-align: center;
	background: black;
	color: #1abc9c;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;
	width: 100%;
	display: none;
  }

  /* Increase the font size of the heading */
  .header h1 {
	font-size: 40px;
  }
  
  /* Style the top navigation bar */
  .navbar {
	overflow: hidden;
	background-color: #333;
	bottom: 0;
	left: 8;
	margin-bottom: 8px;
	position: fixed;
	border-radius: 10px;
  }
  
  /* Style the navigation bar links */
  .navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	width: 30px;
  }
  
  /* Change color on hover */
  .navbar a:hover {
	background: gray;
	color: black !important;
}

  .navbar a.active {
	color: #1abc9c;
}

.content {
	max-width: 500px;
	margin: auto;
	padding: 10px;
  }

  #myBtn {
	font-size: 15px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
	float: right;
  }
  
  #myBtn:hover {
	background-color: #555;
  }



@media screen and (max-width: 1163px) {

}

@media screen and (max-width: 890px) {

}

@media screen and (max-width: 767px){
	.navbar{
		display: none;
	}

	.bottom-navbar {
		overflow: hidden;
		background-color: #333;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		display: block;
		z-index: 99;
	}
	
	.bottom-navbar table{
		width: 100%;
	}
	
	.bottom-navbar a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	  
	.bottom-navbar a:hover {
		background: gray;
		color: black !important;
	}
	  
	.bottom-navbar a.active {
		color: #1abc9c;
	}
}