body {
	background-color: black;
	color: white;
}
  
.main {
	padding: 16px;
	margin-bottom: 30px;
}

.bottom-navbar{
	display: none;
}

/* Header/logo Title */
.header {
	padding: 80px;
	text-align: center;
	background: #1abc9c;
	color: white;
	border-radius: 10px;
  }
  
  #headertwo {
	text-align: center;
	background: black;
	color: #1abc9c;
	position: fixed;
	border-bottom: 2px solid #333;
	top: 0;
	right: 0;
	z-index: 99;
	width: 100%;
	display: none;
  }

  /* Increase the font size of the heading */
  .header h1 {
	font-size: 40px;
  }
  
  /* Style the top navigation bar */
  .navbar {
	overflow: hidden;
	background-color: #333;
	bottom: 0;
	left: 8;
	margin-bottom: 8px;
	position: fixed;
	border-radius: 10px;
  }
  
  /* Style the navigation bar links */
  .navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	width: 30px;
  }
  
  /* Change color on hover */
  .navbar a:hover {
	background: gray;
	color: black !important;
}

  .navbar a.active {
	color: #1abc9c;
}

.content {
	max-width: 500px;
	margin: auto;
	padding: 10px;
  }

  #myBtn {
	font-size: 15px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
	float: right;
  }
  
  #myBtn:hover {
	background-color: #555;
  }



@media screen and (max-width: 1163px) {

}

@media screen and (max-width: 890px) {

}

@media screen and (max-width: 767px){
	.navbar{
		display: none;
	}

	.bottom-navbar {
		overflow: hidden;
		background-color: #333;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		display: block;
	}
	
	.bottom-navbar table{
		width: 100%;
	}
	
	.bottom-navbar a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}
	  
	.bottom-navbar a:hover {
		background: gray;
		color: black !important;
	}
	  
	.bottom-navbar a.active {
		color: #1abc9c;
	}
}